h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    display: grid;
    padding-left: 10px;
    padding-right: 10px;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 150px 150px 150px 150px;

    justify-self: center;
    align-self: center;
}
.item1 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}
.item1:hover{
    color: brown;
}
.item2 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }
  .item3 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }
  .item4 { 
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }
  .menu {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: black;
    background-color: lightblue;
    justify-self: center;
    align-self: center;
  }

